
// Theme Arc Dark Red

// Options (you can change these)

$theme: #f0544c;
$theme-secondary: #e29552;
$black-darker: #0f0f0f;
$black-lighter: #262626;
$white-lighter: #ffffff;
$white-darker: #bba1a1;
$border-width: 1px;
$border-radius1: 2px;
$border-radius2: 4px;
$transition-time: 0.1s;

// Varables (dont use fixed values here)

$theme-dark: saturate(darken($theme, 10%), 10%);
$theme-bright: desaturate(lighten($theme, 10%), 10%);

$theme2: $theme-secondary;
$theme2-dark: saturate(darken($theme2, 10%), 10%);
$theme2-bright: desaturate(lighten($theme2, 10%), 10%);

$theme-red: adjust-hue($theme, - hue($theme) );
$theme-yellow: adjust-hue($theme, - hue($theme) + 60deg);
$theme-green: adjust-hue($theme, - hue($theme) + 120deg);
$theme-blue: adjust-hue($theme, - hue($theme) + 240deg);

$black1: $black-darker;
$black4: $black-lighter;
$black2: mix($black1, $black4, 75%);
$black3: mix($black1, $black4, 25%);
$black0: saturate(darken($black1, 5%), 5%);

$white1: $white-lighter;
$white4: $white-darker;
$white2: mix($white1, $white4, 75%);
$white3: mix($white1, $white4, 25%);
$white0: desaturate(lighten($white1, 5%), 5%);

$border-radius0: $border_radius1 / 2;
$border-radius3: $border_radius2 * 2;
